@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {

    --background: white;
}

.dark {
    --background: #1e2836;
}

@theme {
    --color-background: var(--background)
}

